# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Sensitive Data (Cookies & Sessions)
src/storage/*.json
src/storage/*.ncm
src/storage/*.png

# Logs
*.log
logs/

# Mac
.DS_Store

# Python Eggs
*.egg-info/
*.egg/

# SQLite Databases
*.sqlite
*.sqlite3
*.db
